<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Study Vue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 文本插值  -->
    <div id="app-1">
        {{ message }}
		</div>
		
    <!-- 绑定元素特性 -->
    <div id="app-2">
			<!-- 将这个元素节点的 title 特性和 Vue 实例的 message 属性保持一致 -->
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
		</div>
		
		<!-- 条件与循环 -->
		<div id="app-3">
			<span v-if="seen">
				Now, you can see me!
			</span>
		</div>

		<div id="app-4">
			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>
		</div>

		<!-- 处理用户输入 -->
		<!-- v-on 指令添加一个事件监听器，通过它调用在 Vue 实例中定义的方法 -->
		<div id="app-5">
			<p> {{ message }} </p>
			<button v-on:click="reverseMessage">逆转消息</button>
		</div>

		<!-- v-model 指令，它能轻松实现表单输入和应用状态之间的双向绑定 -->
		<div id="app-6">
			<p> {{ message }} </p>
			<input v-model='message'>
		</div>

		<!-- 一个组件本质上是一个拥有预定义选项的一个 Vue 实例 -->
		<!-- 组件不太懂 -->
		<div id="app-7">
			<ol>
				<!-- 创建一个 todo-item 组件的实例 -->
				<todo-item 
					v-for="item in todoList"
					v-bind:todo="item"
					v-bind:key="item.id">
				</todo-item>
			</ol>
		</div>


    <script src="../js/index.js"></script>
</body>
</html>